<h2>Enter a new book.</h2>

<form class="" action="journal_entries" method="post">
  <label for="book_title">Book Title:</label>
  <input type="text" name="book_title" value="">
  <label for="content">Entry: </label>
  <input type="text" name="content" value="">
  <input type="submit" value="Create Entry">
</form>