<div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
</div>

<h2><%= @user.name %>'s Reading Journal</h2>
    <p>Welcome <%= @user.name %>! You are now logged in.</p>
    <a class="btn" href="/journal_entries" style="margin-right: 40px;">View All Entries</a>
    <a class="btn" href="/journal_entries/new" style="margin-right: 40px;">Create New Entry</a>
    <a class="btn" href="/logout">Log Out</a>