<h2>Welcome Back</h2>
<p>To view your digital reading journal, please log in.</p>

<% if @error %>
    <p class="error">Incorrect email or password. Please try again.</p>
<% end %>

<form class="" action="/login" method="post">
  <label for="email"><h4>Email:</h4> </label>
  <input type="text" name="email" value=""><br /><br />
  <label for="password"><h4>Password:</h4> </label>
  <input type="text" name="password" value=""><br />
  <input class="btn" type="submit" value="Log In">
</form>