<h2>Get Lit | A Reading Journal</h2>
<p>Welcome to your reading journal. Please log in or sign up.</p>
<p><a class="btn" style="margin-right: 40px;" href="/login">Log In</a><a class ="btn" href="/signup">Sign Up</a></p>