<div class="container" style="margin: 20px 40px;">
    <h2>Welcome to the Sinatra Book Journal</h2>
    <p style="margin-top: 20px;"><a style="margin-right: 40px;" href="/login">Log In</a><a href="/signup">Sign Up</a></p>
</div>
