<!doctype html>

<html lang="en">
    <head>
    <meta charset="utf-8">

    <title>Get Lit | A Reading Journal</title>
    <meta name="description" content="Get Lit is the only digital reading journal you'll ever need.">
    <meta name="author" content="A. Edmondson">

    <link rel="stylesheet" href="stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <h2>Get Lit | A Reading Journal</h2>
            <p><a style="margin-right: 40px;" href="/login">Log In</a><a href="/signup">Sign Up</a></p>
        </div>

    </body>
</html>
    